<div class="row">
  <div class="col-lg-10 box profile-box" *ngIf="person">
    <div class="loader" *ngIf="loading == 'show'">
    	<img src="assets/images/ajax-loader.gif">
    </div>
    <div class="avatar">
      <img src="{{url_avatar}}/{{person.image}}" *ngIf="person.image">
      <img src="assets/images/default.png" *ngIf="!person.image">
    </div>
    <div class="name-surname">
      <h2>{{ person.name }} {{ person.surname }}</h2>
      <div class="clearfix"></div>
      <span class="nickname">{{ person.nick }}</span>
    </div>
    <div class="bio">
      {{ person.bio }}
    </div>
    <div class="clearfix"></div>
    <div id="user_stats">
      <div class="following-data">
        <a [routerLink]="['/following', person.nick]">
          <span class="label-stat">
            Following
          </span>
          <span class="number-stat">
            {{ total_following }}
          </span>
        </a>
      </div>
      <div class="following-data">
        <a [routerLink]="['/following', person.nick]">
          <span class="label-stat">
            Followers
          </span>
          <span class="number-stat">
            0
          </span>
        </a>
      </div>
      <div class="following-data">
        <a [routerLink]="['/publications', person.nick]">
          <span class="label-stat">
            Likes
          </span>
          <span class="number-stat">
            {{ total_likes }}
          </span>
        </a>
      </div>
      <div class="following-data">
        <a [routerLink]="['/profile', person.nick]">
          <span class="label-stat">
            Publications
          </span>
          <span class="number-stat">
            {{ total_publications }}
          </span>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="user-publications">
      <div class="box-content" *ngIf="publications">
        <div *ngFor="let p of publications" class="publication-item col-lg-12">
          <div class="publication-panel-{{p.id}}">
            <div class="avatar">
              <img src="{{url_avatar}}/{{p.user.image}}" *ngIf="p.user.image">
              <img src="assets/images/default.png" *ngIf="!p.user.image">
            </div>
            <div class="publication-item-content">
              <p>
                <a class="pub-name-link" href="#">{{ p.user.name }} {{ p.user.surname }}</a>
                -
                {{ p.user.nick }}
                -
                <span class="pub-date">{{ p.createdAt.timestamp | date }}</span>
              </p>
              <p>{{ p.text }}</p>
              <span *ngIf="p.user.id == identity.sub" class="btn-delete-pub glyphicon
              glyphicon-trash" aria-hidden="true" (click)="deletePublication(p.id)"></span>
              <a *ngIf="p.document" href="{{url_document}}{{p.document}}" class="btn-doc glyphicon glyphicon-save"
              aria-hidden="true" target="_blank"></a>
              <span *ngIf="p.image" class="btn-img glyphicon glyphicon-picture"
              aria-hidden="true" (click)="showImage(p.id)"></span>
              <div class="clearfix"></div>
              <div class="pull-right like">
                <span id="like-{{p.id}}" class="btn-like glyphicon glyphicon-heart-empty {{ p.id | test }}"
                aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
                title="I like" (click)="likePublication(p.id)"></span>
                <span id="unlike-{{p.id}}" class="btn-unlike active glyphicon glyphicon-heart-empty"
                aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
                title="I don't like" (click)="unlikePublication(p.id)"></span>
              </div>
              <div id="pub-image-{{p.id}}" class="pub-image" *ngIf="p.image">
                <img src="{{url_image}}{{p.image}}">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <hr>
          </div>
        </div>
        <div class="clearfix"></div>
        <ul class="pagination" *ngIf="publications.length > 0">
          <li>
            <a [routerLink]="['/profile', person,nick, pagePrev]" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let page of pages">
            <a [routerLink]="['/profile', person,nick, page + 1]">
              <span aria-hidden="true">{{ page + 1 }}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/profile', person,nick, pageNext]" aria-label="Next" [ngClass]="[total_pages == 1 ? 'hide' : 'show', 'next-link'] ">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
