/* You can add global styles to this file, and also import other style files */
body{
  background: #eee;
}

.navbar-collapse .avatar{
  background: white;
  border-radius: 500px;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
  overflow: hidden;
}

.navbar-collapse .avatar img{
  height: 100%;
  text-align: center;
}
/*Registro*/
.box-form{
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 0px;
  margin: 0 auto;
  float: none;
}

.box-form input{
  margin-bottom: 10px;
}

.box{
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 0px;
  margin: 0 auto;
}

.user-item .avatar,
.publication-item .avatar{
  background: #eee;
  border-radius: 500px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  float: left;
}

.user-item .avatar img,
.publication.avatar img{
  height: 100%;
  text-align: center;
}

.user-item .user-item-content,
.publication-item .publication-item-content{
  padding: 10px;
  margin-left: 85px;
}

#timeline{
    margin-right: 20px;
    min-height: 750px;
    padding-bottom: 20px;
}

#card-user{
  margin-bottom: 20px;
  padding: 10px;
}

#card-user .avatar{
  background: #eee;
  border-radius: 500px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  float: left;
}

#card-user .avatar img{
  height: 100%;
  text-align: center;
}

#card-user .avatar img.defualt{
  opacity: 0.5;
}

#card-user .name-surname{
  float: left;
  font-size: 20px;
  padding: 10px;
}

#card-user .name-surname a{
  color: black;
}

#card-user .nickname{
  opacity: 0.7
}

.pub-name-link{
  font-weight: bold;
  color: black;
}

.pub-date{
  color: gray;
}
.pub-image{
  display: none;
  transition: all 300ms;
}
.pub-image img {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0px auto;
}
.publication-item .glyphicon{
  margin-right: 7px;
  cursor: pointer;
  color: #444 !important;
}
.like {
  font-size: 25px;
  margin-top: -45px;
}

.like .btn-like:hover{
  color: red !important;
  cursor: pointer;
}

.like .active{
  color: red !important;
}

.like .btn-unlike {
  display: none;
}

#card-user .following-data{
  width: 25%;
  float: left;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
}

#card-user .following-data a{
  color: #444;
}

#card-user .following-data a:hover{
  color: black;
  text-decoration: none;
}

#card-user .following-data .label-stat{
  display: block;
}

#card-user .following-data .number-stat{
  display: block;
  font-size: 16px;
  font-weight: bold;
}
