/* You can add global styles to this file, and also import other style files */
body{
  background: #eee;
}

.navbar-collapse .avatar{
  background: white;
  border-radius: 500px;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
  overflow: hidden;
}

.navbar-collapse .avatar img{
  height: 100%;
  text-align: center;
}
/*Registro*/
.box-form{
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 0px;
  margin: 0 auto;
  float: none;
}

.box-form input{
  margin-bottom: 10px;
}

.box{
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 0px;
  margin: 0 auto;
}

.user-item .avatar{
  background: #eee;
  border-radius: 500px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  float: left;
}

.user-item .avatar img{
  height: 100%;
  text-align: center;
}

.user-item .user-item-content{
  padding: 10px;
  margin-left: 85px;
}

#timeline{
    margin-right: 20px;
    min-height: 750px;
    padding-bottom: 20px;
}

#card-user{
  margin-bottom: 20px;
  padding: 10px;
}

#card-user .avatar{
  background: #eee;
  border-radius: 500px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  float: left;
}

#card-user .avatar img{
  height: 100%;
  text-align: center;
}

#card-user .avatar img.defualt{
  opacity: 0.5;
}

#card-user .name-surname{
  float: left;
  font-size: 20px;
  padding: 10px;
}

#card-user .name-surname a{
  color: black;
}

#card-user .nickname{
  opacity: 0.7
}
