<div id="timeline" class="col-lg-12 box pull-left">
    <h2>{{ sectionTitle }} {{nick }}</h2>
    <div class="count">
      <span class="label label-primary">
        Total of publications: {{ total_items }}
      </span>
    </div>
    <hr>
    <div class="loader" *ngIf="loading == 'show'">
    	<img src="assets/images/ajax-loader.gif">
    </div>
    <div class="box-content" *ngIf="publications">
      <div *ngFor="let p of publications" class="publication-item col-lg-12">
        <div id="publication-panel-{{p.publication.id}}">
          <div class="avatar">
            <img src="{{url_avatar}}/{{p.user.image}}" *ngIf="p.user.image">
            <img src="assets/images/default.png" *ngIf="!p.user.image">
          </div>
          <div class="publication-item-content">
            <p>
              <a class="pub-name-link" href="#">{{ p.user.name }} {{ p.user.surname }}</a>
              -
              {{ p.user.nick }}
              -
              <span class="pub-date">{{ p.publication.createdAt.timestamp | date }}</span>
            </p>
            <p>{{ p.publication.text }}</p>
            <span *ngIf="p.publication.image" class="btn-img glyphicon glyphicon-picture"
            aria-hidden="true" (click)="showImage(p.publication.id)"></span>
            <div class="clearfix"></div>
            <div class="pull-right like">
              <span id="unlike-{{p.publication.id}}" class="btn-unlike active glyphicon glyphicon-heart-empty show"
              aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
              title="I don't like" (click)="unlikePublication(p.publication.id)"></span>
            </div>
            <div id="pub-image-{{p.publication.id}}" class="pub-image" *ngIf="p.publication.image">
              <img src="{{url_image}}{{p.publication.image}}">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <hr>
        </div>
      </div>
      <div class="clearfix"></div>
      <ul class="pagination" *ngIf="publications.length > 0">
        <li>
          <a [routerLink]="['/publication', nick, pagePrev]" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li *ngFor="let page of pages">
          <a [routerLink]="['/publication', nick, page + 1]">
            <span aria-hidden="true">{{ page + 1 }}</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/publication', nick, pageNext]" aria-label="Next" [ngClass]="[total_pages == 1 ? 'hide' : 'show', 'next-link'] ">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
